.bridge {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  text-align: center;
}

.bridge__stats {
  padding: 30px 25px 25px;
  color: $white;
  background-color: $bg-blue;
}

.bridge__head {
  margin: 0;

  @include normal-font (18px, 26px, bold);
}

.bridge__number {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;

  @include normal-font (14px, 21px);
}

.bridge__text {
  margin: 0;

  @include normal-font (14px, 21px);
}

@media (min-width: $tablet-width) {
  .bridge {
    flex-direction: row;
    width: $tablet-width;
  }

  .bridge__image {
    width: 512px;
    height: 256px;
    vertical-align: bottom;
  }

  .bridge__stats {
    align-items: flex-start;
    order: 1;
    padding: 45px;
    width: 256px;
    min-height: 256px;
  }

  .bridge__head {
    @include normal-font(21px, 26px, bold);
  }

  .bridge__number {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .bridge {
    width: $desktop-width;
  }

  .bridge__stats {
    width: 400px;
    padding: 50px 50px 55px;
    padding-bottom: 0;
  }

  .bridge__head {
    padding: 0 30px;
  }

  .bridge__text {
    padding: 0 35px;
  }

  .bridge__image {
    width: 800px;
  }
}
