.features {
  width: $mobile-width;
  margin: 0 auto;
  text-align: center;
}

.features__title {
  margin-top: -6px;
  margin-bottom: 30px;
  padding: 0 20px;
  background-color: $bg-gray;
}

.features__list {
  display: flex;
  flex-direction: column;

  @include list;
  color: $dark;
}

.features__item {
  padding: 24px 15px;
  border-bottom: 2px solid #d6d6d6;

  &:last-child {
    border: none;
  }
}

.features__head {
  margin: 0;

  @include normal-font(18px, 26px, bold);
}

.features__number {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 16px;

  @include normal-font(14px, 21px);
}

.features__text {
  margin: 0;

  @include normal-font(14px, 21px);
}

@media (min-width: $tablet-width) {
  .features {
    width: $tablet-width;
  }

  .features__list {
    flex-direction: row;
  }

  .features__item {
    padding-top: 45px;
    border: none;
  }

  .features__head {
    padding: 0 30px;

    @include normal-font(21px, 26px, bold);
  }
}
