.form-impression {
  order: -1;
  width: $mobile-width;
  border: none;
  border-bottom: 2px solid #e5e5e5;
}

.form-impression__head {
  padding-top: 17px;
  padding-bottom: 35px;
  text-align: center;
}

.form-impression__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @include list;
  @include normal-font(18px, 26px, bold);
  text-transform: none;
}

.form-impression__option {
  padding-bottom: 43px;
  padding-left: 80px;
}

.form-impression__option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.form-impression__input + label::before {
  content: "";
  position: absolute;
  left: -80px;
  top: -14px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form-impression__input:hover + label::before,
.form-impression__input:focus + label::before {
  background-color: #e5e5e5;
}

.form-impression__input:active + label::before {
  background-color: #d5d5d5;
}

.form-impression__input:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -61px;
  width: 20px;
  height: 20px;
  background-color: $dark;
  border-radius: 50%;
}

.form-impression__input:checked:active + label::after {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .form-impression {
    order: -3;
    border: none;
    border-right: 1px solid #dbdbdb;
  }

  .form-impression__head {
    padding: 0;
    text-align: start;
  }

  .form-impression__list {
    width: 275px;
    margin-top: 72px;
    margin-left: 8px;
    text-align: start;
  }

  .form-impression__option {
    margin-bottom: 10px;
    padding-left: 70px;
  }
}

@media (min-width: $desktop-width) {
  .form-impression {
    width: 480px;
  }

  .form-impression__head {
    padding-left: 80px;
  }
}
