.form-visiting {
  width: $mobile-width;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid #e5e5e5;
}

.form-visiting__head {
  padding-top: 20px;
  padding-bottom: 27px;
  text-align: center;
}

.form-visiting__list {
  display: flex;
  flex-direction: column;

  @include list;
  @include normal-font(18px, 26px, bold);
  text-transform: none;
}

.form-visiting__option {
  padding-bottom: 55px;
  padding-left: 80px;

  &:last-child {
    padding-bottom: 40px;
  }
}

.form-visiting__option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.form-visiting__input + label::before {
  content: "";
  position: absolute;
  left: -80px;
  top: -10px;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 10%;
}

.form-visiting__input:hover + label::before,
.form-visiting__input:focus + label::before {
  background-color: #e5e5e5;
}

.form-visiting__input:active + label::before {
  background-color: #d5d5d5;
}

.form-visiting__input:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -62px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-visiting__input:checked:active + label::after {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .form-visiting {
    width: 648px;
    border: none;
  }

  .form-visiting__head {
    padding-top: 5px;
  }

  .form-visiting__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 470px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
  }

  .form-visiting__option {
    width: 210px;
    text-align: left;
    margin-bottom: 10px;
  }

  .form-visiting__option label {
    margin-left: 5px;
  }
}

@media (min-width: $desktop-width) {
  .form-visiting__head {
    padding-top: 3px;
    padding-bottom: 25px;
  }

  .form-visiting__list {
    width: 960px;
  }

  .form-visiting__option {
    width: 205px;
  }

  .form-visiting__option label {
    margin: 0;
  }
}
