.form-contacts {
  order: -2;
  width: $mobile-width;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #e5e5e5;
}

.form-contacts__head {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.form-contacts__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-contacts__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;
  margin: 0;
  margin-bottom: 10px;
}

.form-contacts__item label {
  margin-left: 20px;
  margin-bottom: 10px;

  @include normal-font(14px, 26px);
  color: $dark;
}

.form-contacts__item input {
  width: 280px;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 20px;

  @include normal-font(18px, 26px, bold);
  color: $black;
  text-transform: none;
  background-color: #f2f2f2;
  border: none;
}

.form-contacts__item input::placeholder {
  color: $black;
}

.form-contacts__phone::after {
  content: "";
  position: absolute;
  top: 36px;
  right: 0;
  width: 55px;
  height: 55px;
  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form-contacts__mail::after {
  content: "";
  position: absolute;
  top: 36px;
  right: 0;
  width: 55px;
  height: 55px;
  background-color: #e6e6e6;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-width: $tablet-width) {
  .form-contacts {
    order: -1;
    width: 648px;
    border: none;
  }

  .form-contacts__head {
    padding: 0;
    padding-top: 30px;
  }

  .form-contacts__wrapper {
    margin-top: 25px;
  }

  .form-contacts__item input {
    width: 648px;
  }

  .form-contacts__item {
    margin-bottom: 25px;
  }

  .form-contacts__phone::after {
    right: -367px;
  }

  .form-contacts__mail::after {
    right: -367px;
  }
}

@media (min-width: $desktop-width) {
  .form-contacts__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
    margin-top: 75px;
    margin-bottom: 25px;
  }

  .form-contacts__head {
    padding-top: 35px;
  }

  .form-contacts__item {
    flex-direction: row;
  }

  .form-contacts__item label {
    align-self: center;
    margin: 0;
    margin-right: 15px;
  }

  .form-contacts__item--phone {
    width: 400px;
  }

  .form-contacts__item--email {
    width: 480px;
  }

  .form-contacts__item-visually {
    display: none;
  }

  .form-contacts__item input {
    width: 315px;
  }

  .form-contacts__phone::after {
    top: 0;
    right: 0;
  }

  .form-contacts__mail::after {
    top: 0;
    right: 0;
  }
}
