.form-perform {
  order: -3;
  width: $mobile-width;
  border: none;
  border-bottom: 2px solid #e5e5e5;
}

.form-perform__head {
  margin-bottom: 20px;
  padding-top: 19px;
  text-align: center;
}

.form-perform__item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 23px;
}

.form-perform__item label {
  align-self: center;

  @include normal-font(14px, 26px);
  color: $dark;
}

.form-perform__item input {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;

  @include normal-font(18px, 26px, bold);
  color: $black;
  text-transform: none;
  background-color: #f2f2f2;
  border: none;
}

.form-perform__item input::placeholder {
  color: $black;
}

.form-perform__item input:focus::placeholder {
  color: transparent;
}

.form-perform__name {
  width: 230px;
}

.form-perform__fulname {
  width: 190px;
}

@media (min-width: $tablet-width) {
  .form-perform {
    order: -2;
    width: 270px;
    border: none;
  }

  .form-perform__head {
    padding-top: 0;
    padding-bottom: 37px;
    text-align: start;
  }

  .form-perform__item label {
    margin-right: 13px;
  }

  .form-perform__name {
    width: 215px;
  }

  .form-perform__fulname {
    width: 180px;
  }
}

@media (min-width: $desktop-width) {
  .form-perform {
    width: 400px;
  }

  .form-perform__name {
    width: 350px;
  }

  .form-perform__fulname {
    width: 310px;
  }
}
