.modal-error {
  display: none;
  position: fixed;
  top: 20%;
  left: 0;
  width: $mobile-width;
  min-height: 280px;
  padding: 40px 55px 35px;
  background-color: $white;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-error__head {
  margin: 0;
  margin-bottom: 15px;

  @include normal-font(18px, 26px, bold);
  color: $black;
  text-align: center;
}

.modal-error__text {
  margin: 0;
  margin-bottom: 18px;

  @include normal-font(14px, 24px);
  color: $dark;
  text-align: center;
}

.modal-error__exit {
  display: block;
  width: 180px;
  min-height: 60px;
  margin: 0 auto;

  @include normal-font(18px, 26px, bold);
  color: $white;
  background-color: $bg-blue;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .modal-error {
    width: 400px;
    min-height: 350px;
    margin-left: 185px;
    padding-top: 53px;
    padding-bottom: 50px;
  }

  .modal-error__head {
    margin-bottom: 30px;
    padding: 0 20px;

    @include normal-font(30px, 40px, bold);
  }

  .modal-error__text {
    margin-bottom: 35px;
  }

  .modal-error__exit {
    width: 273px;

    @include normal-font(21px, 26px, bold);
  }
}

@media (min-width: $desktop-width) {
  .modal-error {
    margin-left: 400px;
  }
}
