.page-footer {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding-bottom: 35px;
  text-align: center;
}

.page-footer__visit {
  display: block;
  margin-bottom: 35px;

  @include normal-font(21px, 26px, bold);
  color: $black;
}

.page-footer__list {
  display: flex;
  justify-content: space-between;
  width: 153px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.page-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: $bg-blue;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.page-footer__link svg {
  width: 20px;
  height: 20px;
  fill: $white;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 125px;
  margin: 0 auto;
}

.copyright__text {
  margin: 0;
  margin-top: 3px;

  @include normal-font(14px, 26px);
  color: $black;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  background: url("../img/logo-htmlacademy.svg") no-repeat 0 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    width: $tablet-width;
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    justify-content: space-between;
    width: $desktop-width;
    padding: 0 120px;
  }

  .page-footer__copyright {
    margin: 0;
  }
}
