.page-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header__logo {
  width: 102px;
  height: 83px;
  margin: 0 auto;
  order: 2;
}

.main-nav {
  position: relative;
  min-height: 56px;
  width: $mobile-width;
  margin: 0 auto;
  background-color: $bg-blue;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 43px;
  height: 40px;
  background-color: $bg-blue;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: $white;
  box-shadow: 0 8px 0 0 $white, 0 16px 0 0 $white;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  background-color: $bg-blue;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  @include list;
}

.main-nav__list a {
  display: block;
  padding: 8px;
  @include normal-font(18px, 40px, bold);

  text-decoration: none;
  color: $white;
  background-color: $bg-blue;
  box-shadow:
    inset 0 1px 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 2px 0 rgba(1, 1, 1, 0.2);
}

.main-nav__list a[href] {

  &:active {
    opacity: 0.3;
  }
}


@media (max-width: $mobile-width-only) {

  .main-nav--closed .main-nav__item {
    display: none;

    &--active {
    display: block;
    }
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}


// @media (min-width: $tablet-width) {

//   .main-nav {
//     width: auto;
//     margin: 0 auto;
//     background-color: $white;
//   }

//   .main-nav__list {
//     display: flex;
//     justify-content: space-around;
//     width: $tablet-width;
//   }

//   .main-nav__toggle {
//     display: none;
//   }

//   .main-nav__item a {
//     @inclide normal-font(14px, 26px, bold);
//     color: $black;
//     background: none;
//     box-shadow: none;
//   }

//   .main-nav__item a[href] {
//     &:hover {
//       background: none;
//       color: $bg-blue;
//     }
//   }

//   .page-header__logo {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     margin: 0 auto;
//     z-index: 2;
//   }
// }

