.stats {
  width: $mobile-width;
  margin: 0 auto;
  text-align: center;
  background: url("../img/bg-intro-triangle-mobile-blue.svg") no-repeat 50% 100%;
}

.stats__img {
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 89px;
  padding-bottom: 85px;
  margin-top: -30px;
  margin-bottom: 35px;
  background:
    $bg-blue,
    url("../img/bg-intro-triangle-mobile.svg") no-repeat 50% 363px,
    url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
}

.stats__head {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 32px;

  @include normal-font(18px, 26px, bold);
  color: $black;
}

.stats__intro {
  margin: 0;
  padding: 0 34px;
  padding-bottom: 50px;

  @include normal-font(14px, 26px);
  color: $dark;
}

@media (min-width: $tablet-width) {
  .stats {
    width: $tablet-width;
    background: none;
  }

  .stats__img {
    width: $tablet-width;
    margin-bottom: 45px;
    background:
      url("../img/bg-intro-triangle-tablet.svg") no-repeat 50% 100%,
      url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0;
  }

  .stats__head {
    margin-bottom: 35px;
    padding: 0 135px;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    width: $desktop-width;
  }

  .stats__img {
    width: $desktop-width;
    background:
      url("../img/bg-intro-triangle-desktop.svg") no-repeat 50% 100%,
      url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
  }
}
